body
{
  font-family: sans-serif;
	font-size: 80%;
	background: #ccc;
	margin: 4em;
}

*
{
  box-sizing: border-box;
}

#masonary
{  
  columns: 250px;
  column-gap: 20px; 
}

#container 
{
  position: relative;
  /* display: none; */
  height: auto;
  width: 100%;
  margin-bottom: 1rem; 
  margin-left: 1rem;
}

#sharepicbutton
{
  
  width: 20%; 
  height: 20px;
  position: absolute;
  bottom: 10px;
  left: 50px;;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

 #images
 { 
   height: auto;
   width: 100%;
   opacity: 1;
   display: block;
  /* position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%); */
 }

#images:hover 
{
  opacity: 0.3;
}

#images:hover #sharepicbutton
{
  display: inline;
}

.pagination
{
  margin-top:20px ;
  position: relative;
  display: flex;
  justify-content: center;
}

#lbltipAddedComment
{
  display: inline;
  border: none;
  padding: 14px 28px;
  font-size: 16px;
}

#nextpage
{
  border: none;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  display: inline;
}

#prevpage
{
  border: none;  
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  display: inline;
}

#nextpage :hover
{
 color:blue;
}

#prevpage :hover
{
 color:blue;
}

.searchbar
{
  display: flex;
  justify-content: center;
  align-content: center;
  position: relative;
  margin-top: 12px ;
  margin-bottom: 12px ;
}