body
{
  font-family: sans-serif;
	font-size: 80%;
	background: #ccc;
	margin: 4em;
}

*
{
  box-sizing: border-box;
}

.searchbar
{
  display: flex;
  justify-content: center;
  align-content: center;
  position: relative;
  margin-top: 12px ;
  margin-bottom: 12px ;
}

#masonry
{  
  columns: 250px;
  column-gap: 20px; 
}

#container 
{
  position: relative;
  height: auto;
  width: 100%;
  margin-bottom: 1rem; 
  margin-left: 1rem;
}

#likebtntxt
{
  font-size: 20px;
}
#sharebtntxt
{
  font-size: 20px;
}
#dwlbtntxt
{
  font-size: 20px;
}

#sharebtn:hover
{
  border: 1px solid white;
  border-radius: 50%;
}

#likebtn:hover
{
  border: 1px solid white;
  border-radius: 50%;
}

#dwlbtn:hover
{
  border: 1px solid white;
  border-radius: 50%;
}

#sharebtn
{
  display:none;
  height: auto;
  position: absolute;
  bottom: 5px;
  left: 0%;
  text-align: center;
  background-color: Transparent;
  background-repeat:no-repeat;
  cursor:pointer;
  overflow: hidden;
  outline:none;
  padding: 3px;
  border: none;
}

#likebtn
{
  display:none;
  height: auto;
  position: absolute;
  bottom: 5px;
  left: 45%;
  text-align: center;
  background-color: Transparent;
  background-repeat:no-repeat;
  cursor:pointer;
  overflow: hidden;
  outline:none;
  padding: 3px;
  border: none;
}

#dwlbtn
{
  display:none;
  height: auto;
  position: absolute;
  bottom: 5px;
  right: 0%;
  text-align: center;
  background-color: Transparent;
  background-repeat:no-repeat;
  cursor:pointer;
  overflow: hidden;
  outline:none;
  padding: 3px;
  border: none;
}
.star
{
  display:none;
  position: absolute;
  top: 5%;
  right: 0%;
  padding: 3px;
  border: none;
  font-size: 20px;
}
 #images
 { 
   height: auto;
   width: 100%;
   display: block;
 }

#images:hover 
{
  opacity: 0.3;
}

#masonry :hover #sharebtn
{
  display: block;
}

#masonry :hover #likebtn
{
  display: block;
}

#masonry :hover #dwlbtn
{
  display: block;
}

.pagination
{
  margin-top:20px ;
  position: relative;
  display: flex;
  justify-content: center;
}

#lbltipAddedComment
{
  display: inline;
  border: none;
  padding: 14px 28px;
  font-size: 16px;
}

#nextpage
{
  border: none;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  display: inline;
}

#prevpage
{
  border: none;  
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  display: inline;
}